<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Home</title>
</head>
<body>


<h1>------------Главное Меню------------</h1>
<a href="/blog/" style="font-size: 20px">Статьи</a>
<a href="/students/" style="font-size: 20px">Студенты</a>
<a href="/prepods/" style="font-size: 20px">Преподаватели</a>

</body>
</html>
<style>
    body {
        height: 200px;
        background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    }
</style>